/**
 * YAWIK
 *
 * @filesource
 * @copyright (c) 2013 Cross Solution (http://cross-solution.de)
 * @license   GPLv3
 */

/*
 * general css classes
 */

@yk-color-confirmed: @brand-success;
@yk-color-rejected: @brand-danger;
@yk-color-incoming: @brand-info;
@yk-color-invited: @brand-warning;
@yk-color-th: #efefef;

/**
* User images
*/

  .portrait {
    float: left;
    margin-right: 5px;
    .thumbnail;
    max-width: 50px;
    .cam-icon-portrait {
      font-size: 40px;
    }
    margin-bottom: 0;
  }


/**
* hide some columns on small devices
*/
.cam-career,
.cam-attachment,
.cam-job {
    .hidden-xs;
}
.cam-attachment {
  max-width: 130px;
  overflow: hidden;
}

/*
* new 
*/
.@{yawik-css-prefix}-new * {
 font-weight: bold;
}


/*
* State Colors 
*/

.@{yawik-css-prefix}-color-incoming {
  color: @yk-color-incoming;
}
.@{yawik-css-prefix}-color-invited {
  color: @yk-color-invited;
}
.@{yawik-css-prefix}-color-rejected {
  color: @yk-color-rejected;
}
.@{yawik-css-prefix}-color-success { color: @brand-success; }

.@{yawik-css-prefix}-portrait {
  width:100px; 
  font-size: 80px;
  margin-right: 10px;
}
.@{yawik-css-prefix}-label {
  text-align: right;
} 
.@{yawik-css-prefix}-hidden {   
  height: 0;
  line-height: 0;
  overflow: hidden;
}

.img-ploraid {
  width: 120px;
  height: 180px;
}