@import "yawik.less";
@import "variables.less";
@import "bootswatch.less";

//@brand-primary: #AC0000;
//@brand-info: #ec7328;
//@brand-success: green;

@link-hover-color: darken(@brand-primary, 5%);

@footer-height:                     39px;
@navbar-height:                     40px;

@font-size-h1:            floor((@font-size-base * 1.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 1.4)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.2)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.1)); // ~18px


@state-info-text:                #31708f;
@state-info-bg:                  lighten(@brand-info,40%);
@state-info-border:              darken(spin(@state-info-bg, -10), 7%);

body {
  margin-top: @navbar-height;
}


/**
 * footer on the page
 */
#footer {
   .hidden-xs;
   .navbar;
   .navbar-fixed-bottom;
   height: @footer-height;
   min-height: @footer-height;
   max-height: @footer-height;
   background-color: @gray-lighter;
}

main {
        margin-bottom: (@footer-height + 10px);
}

.nav {
   margin-bottom: -2px;
}


/**
* removes the gradients from carousel control
*/
.carousel-control {
  &.left {
    #gradient > .horizontal(@start-color: rgba(0,0,0,0); @end-color: rgba(0,0,0,0));
  }
  &.right {
    left: auto;
    right: 0;
    #gradient > .horizontal(@start-color: rgba(0,0,0,0); @end-color: rgba(0,0,0,0));
  }
}

