<?php
/**
 * YAWIK
 *
 * @filesource
 * @copyright (c) 2013-2014 Cross Solution (http://cross-solution.de)
 * @author cbleek
 * @license  MIT
 */ ?>

<?php

$this->headTitle('Über YAWIK Jobboard');
$this->headscript()->appendScript('$(".alert").alert();');
$this->headScript()->appendFile($this->basepath('YawikDemoJobboard/wow.min.js'));
?>
<script>
    new WOW().init();
</script>

<style>
    section {
        margin-top: 50px;
    }
    .scroll-down {
        text-align: center;
        width: 100%;
    }
    .scroll-down .btn {
        border: 2px solid #d9230f;;
        border-radius: 100%;
        color: #fff;
        color: #d9230f;
        font-size: 30px;
        height: 50px;
        letter-spacing: normal;
        line-height: 50px;
        padding: 0;
        transition: all 0.5s ease 0s;
        width: 50px;
    }
    .scroll-down .btn:hover {
        border-color: rgba(255,165,0, 0.5);
        color: rgba(255,165,0, 0.5);
        outline: 0 none;
    }
    #jb-carousel {
	height: 300px;
    }

</style>
<a name="about"></a>
<section class="wow fadeIn">
<h1>Über YAWIK Jobboard</h1>

<p>
    Das YAWIK Jobboard ist eine quelloffene Jobbörse. Stellenanzeigen können geschaltet werden. Bewerber können
    sich auf Stellenanzeigen bewerben. Das integrierte Bewerbermanagement ermöglicht es Bewerbungen zu verwalten.
    Dieser Stellenmarkt demonstriert die Einsatzmöglichkeiten von
    <a href="http://yawik.org" title="Bewerbermanagement">YAWIK</a>. Alle hier veröffentlichten
    Stellenanzeigen sind top aktuell. Diese Stellenbörse nutzt YAWIK in Kombination mit dem 
    <a href="https://github.com/cbleek/YawikDemoJobboard">YawikDemoJobboard</a> Modul.
</p>

</section>
<a name="stellenanzeige-schalten"></a>

<section class="wow fadeIn">
<h2>Stellenanzeigen schalten und Bewerber verwalten</h2>
<p>
    Sie können kostenlos Stellenanzeigen eingeben. Eingegegebene Stellenanzeigen können auf
    verschiedenen Kanälen veröffentlichet werden. Aktuell:
</p>
<div class="row">
    <div class="container">
        <div class="col-md-4">
            <div class="wow slideInLeft fadeIn panel panel-info" data-wow-duration="0.5s" data-wow-delay="0s">
                <div class="panel-heading">
                    <h3 class="panel-title">YAWIK Jobportal</h3>
                </div>
                <div class="panel-body">
                    Ihre Stellenanzeige erscheint unter:
                    http://jobs.yawik.org.
                    kostenlos, 30 tage.
                </div>
            </div>
        </div>
        <div class="col-md-4" data-test="fadeInDown">
            <div class="wow fadeIn panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">Jobsintown.de</h3>
                </div>
                <div class="panel-body">
                    Ihre Stellenanzeige erscheint im Karriere Netzwerk
                    von Jobsintown.
                    Preis: 199,-€, Schaltungsdauer: 30 Tage
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-info wow slideInRight" data-wow-duration="0.5s" data-wow-delay="0s">
                <div class="panel-heading">
                    <h3 class="panel-title">Ihre Homepage</h3>
                </div>
                <div class="panel-body">
                    Coming soon
                    <p>
                        Einfach ein Javascript in die eigene Homepage einbauen.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>
</section>

<a name="funktionsweise"></a>
<section>
<h1>Wie funktioniert das YAWIK Jobboard?</h1>
<div id="jb-carousel" class="carousel slide" data-ride="carousel" data-interval="3000">
    <ol class="carousel-indicators">
        <li data-target="#jb-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#jb-carousel" data-slide-to="1"></li>
        <li data-target="#jb-carousel" data-slide-to="2"></li>
        <li data-target="#jb-carousel" data-slide-to="3"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="media">
                <a class="media-left" href="#">
                    <img src="<?php echo $this->basePath("/YawikDemoJobboard/images/login.png")?>" alt="Social Login">
                </a>
                <div class="media-body">
                    <h3 class="media-heading">Kostenlos registrieren.</h3>
                    
                </div>

            </div>
            <div class="carousel-caption">
                Schritt 1
            </div>

        </div>

	<div class="item">
            <div class="media">
                <a class="media-left" href="#">
                    <img src="<?php echo $this->basePath("/YawikDemoJobboard/images/baseform.png")?>" alt="Eingabe der Basisdaten">
                </a>
                <div class="media-body">
                    <h3 class="media-heading">Eingabe der Grunddaten</h3>
                    Benötigt wird der Anzeigentitel und der Ort der Anstellung
                </div>
            </div>
            <div class="carousel-caption">
                Schritt 2
            </div>
        </div>


        <div class="item">

            <div class="item active">
                <div class="media">
                    <a class="media-left" href="#">
                        <img src="<?php echo $this->basePath("/YawikDemoJobboard/images/multiposting.png")?>" alt="Multiposting">
                    </a>
                    <div class="media-body">
                        <h3 class="media-heading">Es folgt die Bearbeitung der Anzeige</h3>
                        Benötigt wird der Anzeigentitel und der Ort der Anstellung
                    </div>
                </div>
                <div class="carousel-caption">
                    Schritt 3
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#jb-carousel" role="button" data-slide="prev">
            <span class="fa fa-arrow-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#jb-carousel" role="button" data-slide="next">
            <span class="fa fa-arrow-right " aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</section>

<a name="nutzungsbedingungen"></a>

<section class="wow fadeIn">

    <h2>Nutzungsbedingungen</h2>
    <ul>
        <li>
            <b>Kosten:</b>
            <p>       <?php echo $this->portal_name ?> ermöglicht es Ihnen die Eingabe von Stellenanzeigen und deren Veröffentlichung
                auf verschiedenen Kanälen. Die Nutzung von <?php echo $this->portal_name ?> ist kostenlos. Die Veröffentlichung
                auf bestimmten Kanälen kann mit Kosten verbunden sein.
            </p>

        </li>


    <p>
        Die Veröffentlichung von bis zu 5 Stellenanzeigen auf diesem Jobportal ist <span class="label label-primary">kostenlos</span>.
        Um Stellenanzeigen eingeben zu können, müssen Sie sich <a href="<?php echo $this->basePath("/login")?>">anmelden</a>. Die Schaltungsdauer von Stellenanzeigen
        beträgt 30 Tage.

    </p>
    </ul>
</section>
<a name="impressum"></a>
<section class="wow bounceInUp">

    <h2>Impressum</h2>

    verantworlich für den Inhalt dieser Seiten ist:

    <address>
        <div><?php echo $this->person_name ?></div>
        <div><?php echo $this->company_street ?></div>
        <div><?php echo $this->company_zip ?> <?php echo $this->company_city ?></div>
    </address>

    <address>
        <div>Email: <?php echo $this->person_email ?></div>
        <div>Tel: <?php echo $this->person_phone ?></div>
        <div>Fax: <?php echo $this->person_fax ?></div>
        <div>Ust ID: <?php echo $this->company_fat ?></div>
    </address>
</section>

<div class="scroll-down">
    <a class="btn" href="#about">
        <i class="fa fa-angle-down fa-fw"></i>
    </a>
</div>
<a name="datenschutz"></a>

<section class="wow bounceInUp">
    <h2>Datenschutzerklärung</h2>
    <p>
        Betreiber der Seite ist <?php echo $this->company_fullname ?>. im folgenden <?php echo $this->company_name ?> genannt.
    </p>
    <p>
        CROSS will Ihnen eine sichere und geschützte Nutzung der Webseite gewährleisten und geht deshalb
        verantwortungsbewusst mit Ihren Daten um. Das betrifft sowohl die Erhebung als auch die Verarbeitung
        und die Nutzung. Wie wir Ihre personengebundenen Daten verwenden, die Sie hier eingeben, erfahren Sie in
        der folgenden Erklärung. Ihre Daten werden entsprechend der gesetzlichen Bestimmungen zum Datenschutz,
        insbesondere das Bundesdatenschutzgesetz (BDSG) und das Gesetz über den Datenschutz bei Telediensten
        (TDDSG) geschützt. <?php echo $this->company_name ?> trägt keine Verantwortung für die Datenschutzrichtlinien
        oder Praktiken anderer Webseiten, auf die wir Links gesetzt haben. Diese Datenschutzerklärung gilt nur
        für die Informationen, die wir über diese Website erheben. Die nachfolgenden Informationen erklären Ihnen,
        welche Daten während Ihres Besuchs auf der Homepage erfasst und wie diese genutzt werden:
    </p>
    <ol>
        <li class="wow fadeInLeft">
            <h4>Erhebung und Verarbeitung der Daten</h4>
            Informationen, die Ihr Browser uns direkt oder indirekt über Schnittstellen übermitteln, werden von
            <?php echo $this->company_name ?> automatisch in ihren Server–Logfiles erhoben und gespeichert. Dies umfasst beispielsweise
            Browsertyp/ -version, verwendetes Betriebssystem, Referrer URL (die zuvor besuchte Seite), Hostname
            des zugreifenden Rechners (IP Adresse), übertragene Datenmenge, Meldung über erfolgreichen Abruf
            und Uhrzeit der Serveranfrage. Zusätzliche personenbezogene Daten werden nur dann erfasst, wenn Sie
            diese Angaben im Rahmen einer Anfrage sowie im Rahmen der Nutzer-Registrierung und der Profilerstellung
            freiwillig bei <?php echo $this->company_name ?> machen. Die Registrierung bei <?php echo $this->company_name ?> ist ausschließlich Personen über
            16 Jahren vorbehalten. Eltern oder Aufsichtsberechtigte sind für den Schutz der Privatsphäre ihrer
            Kinder verantwortlich.
        </li>
        <li class="wow fadeInLeft">
            <h4>Nutzung und Weitergabe personenbezogener Daten</h4>
            Personenbezogene Daten, die Sie als registrierter Nutzer <?php echo $this->company_name ?> zur Verfügung gestellt haben,
            werden elektronisch gespeichert. Sie haben als Nutzer jederzeit die Möglichkeit, Daten entweder
            direkt aus Ihrem Profil zu löschen oder aber festzulegen, welche Nutzer Ihre Daten nicht einsehen
            dürfen. Ihre personenbezogenen Daten werden nur an Dritte weitergegeben, wenn dies dem
            Leistungszweck dient. Sie haben außerdem das Recht, die Löschung Ihrer Daten auf schriftlichem
            Wege zu veranlassen. Den Detailgrad dieser Daten bestimmen Sie selbst. Der aktuelle
            Detaillierungsgrad ist jeweils in Ihrem Profil ersehen. Die personenbezogenen Daten werden gemäß
            den Leistungen von <?php echo $this->company_name ?> und für die technische Administration verwendet. <?php echo $this->company_name ?> gibt
            keine Daten zu Werbe- oder Marketingzwecken weiter, die Rückschlüsse auf Personen erlauben. Ihre
            anonymisierten Nutzerdaten verwenden wir für Zwecke der Beratung, der Werbung, der Marktforschung
            und zur Verbesserung und bedarfsgerechten Gestaltung des Dienstes. Ein Widerruf ist schriftlich
            möglich.
        </li>
        <li class="wow fadeInLeft">
            <h4>Verwendung von Cookies</h4>
            <?php echo $this->company_name ?> verwendet an mehreren Stellen der Webseite so genannte Cookies. Das sind kleine
            Textdateien, die auf Ihrem Rechner abgelegt werden und die Ihr Browser speichert. Sie dienen dazu,
            unsere Webseite nutzerfreundlicher, effektiver und sicherer zu machen. Die meisten der von uns
            verwendeten Cookies sind so genannte „Session-Cookies“. Cookies richten auf Ihrem Rechner keinen
            Schaden an und enthalten keine Viren. Möchten Sie eine Speicherung dennoch verhindern, so können
            Sie dies durch entsprechende Einstellungen in Ihrem Browser verhindern.
        </li>
        <li class="wow fadeInLeft">
            <h4>Analyse-Software</h4>
            <?php echo $this->company_name ?> nutzt zur Erhebung von generellen Nutzerstatistiken auf PIWIK zurück.
            <?php echo $this->piwik_opt_out ?>
        </li>
        <li class="wow fadeInLeft">
            <h4>Datensicherheit</h4>
            Durch technische und organisatorische Maßnahmen werden unsere Webseiten gegen Verlust, Zerstörung,
            Zugriff, Veränderung oder Verbreitung Ihrer Daten durch unbefugte Personen geschützt. Der Zugang zu
            Ihrem Profil erfolgt nur über die Eingabe ihres Logins in Verbindung mit Ihrem Passwort bzw. über
            definierte Schnittstellen u.a. zu Facebook. Die Zugriffsrechte können Sie im jeweiligen Account
            beschränken und/oder löschen. <?php echo $this->company_name ?> verschickt keine Emails mit der Aufforderung Ihr Passwort
            einzugeben. Sie sollten Ihre Zugangsdaten stets vertraulich behandeln und sich nach Abschluss Ihrer
            Session abmelden, insbesondere wenn sie an öffentlichen Computern arbeiten oder sich Ihren Rechner
            mit anderen Nutzern teilen. Trotz aller Vorkehrungen ist aus technischen Gründen eine vollständige
            Sicherheit nicht realisierbar. Wir bitten Sie, uns bei Missbrauch oder bei Anzeichen von Missbrauch
            sofort zu informieren. Wir werden umgehend entsprechende Maßnahmen ergreifen.
        </li>
        <li class="wow fadeInLeft">
            <h4>Auskunftsrecht</h4>
            Wir geben Ihnen jederzeit darüber Auskunft welche Daten die bezüglich Ihrer Person, deren Herkunft
            und Empfänger sowie zu welchem Zweck gespeichert sind. Dazu reicht eine schriftliche Anfrage an die
            im <a href="<?php echo $this->basePath("/about#impressum")?>">Impressum</a> angegebene Adresse. Aus
            Sicherheitsgründen bitten wir Sie eine Kopie des Personalausweises beizulegen.
        </li>
        <li class="wow fadeInLeft">
            <h4>Änderungen der Datenschutzerklärung</h4>
            Das Datenschutzrecht ändert sich regelmäßig. Auch neue Serviceleistungen kommen hinzu. Deshalb
            behält sich die <?php echo $this->company_name ?> das Recht vor, diese Datenschutzerklärungen jederzeit zu ändern. Sie
            werden als Nutzer von <?php echo $this->company_name ?> über diese Änderungen per Email informiert.
        </li>
        <li class="wow fadeInLeft">
            <h4>Sicherheitshinweis</h4>
            Wir ergreifen alle technischen und organisatorischen Möglichkeiten, um Ihre personenbezogenen
            Daten so zu speichern, dass sie für Dritte nicht zugänglich sind. Vor allem bei E Mail Verkehr
            kann die vollständige Datensicherheit jedoch generell nicht sichergestellt werden. Wir empfehlen
            Ihnen deshalb, bei vertraulichen Informationen den Postweg zu nutzen.
        </li>
        <li class="wow fadeInLeft">
            <h4>Weitere Informationen</h4>
            Wenn Sie weitere Fragen haben, die diese Datenschutzerklärung beantwortet, dann wenden Sie sich
            bitte jederzeit an die Geschäftsführung von <?php echo $this->company_name ?>, um weitere Informationen zu erhalten.
            Die Anschrift finden Sie unter <a href="<?php echo $this->basePath("/about#impressum")?>">Impressum</a>.
        </li>
    </ol>
</section>

