<?php
/**
 * YAWIK
 *
 * @filesource
 * @copyright (c) 2013-2104 Cross Solution (http://cross-solution.de)
 * @license   MIT
 */
$this->headScript()->appendFile($this->basePath('Jobs/js/index.list-filter-form.js'));
$this->headScript()->appendFile($this->basepath('YawikDemoJobboard/wow.min.js'));

$translate = $this->plugin('translate');

$createRadioGroup = function ($element, $id) use ($translate) {
    $input = '';
    ?>
    <div id="params-<?php echo $id ?>-group" class="btn-group btn-group-sm" data-toggle="buttons">
    <?php foreach ($element->getValueOptions() as $value => $label):
        $checked = $value == $element->getValue();?>
        
        <label class="btn btn-default<?php echo ($checked) ? ' active': ''?>">
            <input id="params-<?php echo "$id-$value" ?>" type="radio" name="<?php echo $element->getName() ?>" value="<?php echo $value ?>"<?php echo $checked ? ' checked' : ''?>>
            <?php echo $translate($label) ?>
        </label>
        
        
    <?php endforeach; ?>
    
    </div>
    <?php //return $input;
};

$form   = $this->element;
$params = $this->element->get('params'); 
$form->setAttributes(array(
    'action' => $this->url('lang/jobs', array(), true),
    'method' => 'GET',
));

echo $this->form()->openTag($form);
echo $this->formHidden($params->get('page'));

$byElement = $params->get('by');
$statusElement = $params->get('status');
?>
<div id="params-search-wrapper" class="cam-input-group input-group">
    <span class="input-group-addon">?</span>
    <?php echo $this->formText($params->get('search')->setAttributes(array('class' => 'form-control ','placeholder' =>  /* @translate */ 'search for jobs' ))) ?>
    <span class="input-group-btn">
        <button class="btn btn-primary" type="submit"><?php echo $this->translate('Search') ?></button>
    </span>
</div>
<div class="btn-toolbar pull-right">
<?php if ($params->has('by') && $this->acl()->isRole('recruiter')):?>
  <?php $createRadioGroup($params->get('by'), 'by') ?>
  <?php $createRadioGroup($params->get('status'), 'status') ?>
<?php else: ?>
  <script>
    new WOW().init();
  </script>
  <span class="wow swing btn btn-info" data-wow-delay="1s" data-wow-duration="2.5s" data-wow-iteration="2">
      <a href="<?php echo $this->basePath("/about#stellenanzeige-schalten")?>">Stellenanzeige schalten</a></span>
<?php endif; ?>
</div>
<?php echo $this->form()->closeTag(); ?>
